---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';


const events = await Astro.glob('../content/events/*.md')
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
    <main>
      <section class="inverted">
        <h2 class="section-title">About Us</h2>
      <h2>The Ponies came together in 2021 to jam out and share the music we love with our friends and family.  We discovered that the crowds we played for loved to hear our songs, so we decided to perform for the masses.  Tommy J's voice and mad guitar licks make him a front man that's fun to watch.  Demetri and Mike D keep the rhythm section grooving, so if you find yourself dancing just go with it.  We cover your favorites from the 60's through today.  We play bars, clubs, parties, functions, and our living room.  If you need a Kick@ss band that won't disappoint, give us a shout!</h2>
      </section>
      <section>
        <h2 class="section-title">Events</h2>
{events.map((event)=> (
  <article>
    <h3>{event.frontmatter.title} - {event.frontmatter.date}</h3>
    <p>{event.frontmatter.details}</p>
  </article>
))}
      </section>
    </main>
	</body>
</html>
